.jitsicall-box {
	/* position: absolute;
	z-index: 999;

	display: block;


	width: 50%;

	height: 20%;

	background-color: red; */

	position: absolute;
	z-index: 999999;
	top: 5%;
	left: 40%;

	display: none;

	/* width: 20%;
	height: 10%; */

	/* border: 1px solid #dddddd;
	background-color: white; */

	/* position: sticky; */
}
