.jitsicall-box {
	/* position: absolute;
	z-index: 999;

	display: block;


	width: 50%;

	height: 20%;

	background-color: red; */

	position: absolute;
	z-index: 999999;
	top: 30%;
	left: 40%;

	display: none;

	/* width: 20%;
	height: 10%; */

	/* border: 1px solid #dddddd;
	background-color: white; */

	/* position: sticky; */
}

@-webkit-keyframes pulsate {
	100% { color:rgb(248, 77, 77); text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px rgb(247, 45, 45), 0 0 18px rgb(248, 77, 77); }
}
@keyframes pulsate {
	100% { color: rgb(248, 77, 77); text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px rgb(247, 45, 45), 0 0 18px rgb(248, 77, 77)); }
}
@keyframes blur{
	from{
		text-shadow:0px 0px 3px rgb(252, 126, 126),
		0px 0px 3px rgb(252, 126, 126),
		0px 0px 3px rgb(252, 126, 126),
		0px 0px 5px rgb(252, 126, 126),
		0px 0px 7px rgb(243, 200, 200),
		0px 7px 7px rgb(243, 200, 200),
		0px 7px 7px rgb(243, 200, 200),
		0px -7px 7px rgb(243, 200, 200),
		0px -7px 7px rgb(243, 200, 200);}
  }
.textmeet-blink {
	color: red;
	text-shadow: 0 -1px rgba(0,0,0,.1);
	-webkit-animation: blur 1.2s linear infinite;
	animation: blur 1.2s linear infinite;
	font-size: 20px;
}
